<h1>Expenses <img class = "headerimage" src="/images/consultancy_logo.jpeg" alt="company-logo"></h1>
<hr/>
<p><a href= "/expenses/new">Add new expense</a>
  <hr/>
<% @expenses.each do |expense| %>
  <p>Cost, excluding VAT: £<%= expense.cost_excluding_vat%> </p>
  <p>VAT: £<%= expense.vat%> </p>
  <p>Category: <%= expense.category%> </p>
  <p>Project: <%= expense.find_project().name %> </p>
  <p>Employee: <%= expense.find_employee().name %> </p>
  <p><a href="/expenses/<%=expense.id%>">View Expense</a></p>
<hr/>
<%end%>
