<h1>Timesheets</h1>
<hr/>
<p><a href= "/time-units/new">Add new Time</a>
  <hr/>
<% @time_units.each do |time| %>
  <p>Hours: <%= time.hours%> </p>
  <p>Category: <%= time.category%> </p>
  <p>Project: <%= time.find_project().name %> </p>
  <p>Employee: <%= time.find_employee().name %> </p>
  <p><a href="/time-units/<%=time.id%>">View Time</a></p>
<hr/>
<%end%>
