<h1><img class = "headerimage" src="/images/time.png" alt="time-logo">Timesheets</h1>
<hr/>
<p><a href= "/time-units/new">Add new Time</a>
  <hr/>

<table style = "width:100%">
<tr>
  <th>Hours</th>
  <th>Category</th>
  <th>Project</th>
  <th>Employee</th>
  <th>View Details</th>
</tr>
<% @time_units.each do |time| %>
<tr>
  <td><%= time.hours%> </td>
  <td><%= time.category%> </td>
  <td><%= time.find_project().name %> </td>
  <td><%= time.find_employee().name %> </td>
  <td><a href="/time-units/<%=time.id%>">View</a></td>
</tr>
<%end%>

</table>
