<form action="/projects/<%=@projects.id%>/update" method = "post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%=@projects.name%>">

  <label for="client">Client:</label>
  <input type="text" id="client" name="client" value="<%=@projects.client%>">

  <label for="time_budget">Time Budget(GBP):</label>
  <input type="number" step="0.01" id="time_budget" name="time_budget" value= "<%= '%.2f' % @projects.time_budget %>">

  <label for="expenses_budget">Expenses Budget(GBP):</label>
  <input type="number"  step="0.01" id="expenses_budget" name="expenses_budget" value= "<%= '%.2f' % @projects.expenses_budget %>">

  <label for="project_status">Project Status:</label>
  <select name="project_status" id="project_status" value= "<%=@projects.project_status %>">
    <option value="Open">Open</option>
    <option value="Proposal">Proposal</option>
    <option value="Proposal Submitted">Proposal Sumbitted</option>
    <option value="On Hold">On hold</option>
    <option value="Complete">Complete</option>
    <option value="Lost">Lost</option>
  </select>

<input type="submit" value="Update project">

</form>
