<h1><img class = "headerimage" src="/images/project.png" alt="project-logo">Projects</h1>
<hr/>
<p><a href= "/projects/new">Add new project</a>
  <hr/>

<table style = "width:100%">
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th>Time Budget</th>
    <th>Expenses Budget</th>
    <th>Project Status</th>
    <th>View Details</th>
  </tr>
<% @projects.each do |project| %>
<tr>
  <td><%= project.name%> </td>
  <td><%= project.client%> </td>
  <td>£<%= '%.2f' % project.time_budget%> </td>
  <td>£<%= '%.2f' % project.expenses_budget %> </td>
  <td><%= project.project_status%> </td>
  <td><a href="/projects/<%=project.id%>">View</a></td>
<tr/>
<%end%>
</table>
