<h1><img class = "headerimage" src="/images/project.png" alt="project-logo">Projects Details</h1>
<hr/>
<p>Name: <%= @projects.name %> </p>
<p>Client: <%= @projects.client%> </p>
<p>Time Budget: £<%=  '%.2f' % @projects.time_budget%></p>
<p>Time Spent: £<%=  '%.2f' % @projects.total_time_spend%></p>
<p>Expenses Budget: £<%= '%.2f' %  @projects.expenses_budget%></p>
<p>Expenses Spent: £<%= '%.2f' %  @projects.total_expenses_spend%></p>
<p>Project Status: <%= @projects.project_status%></p>

<form action="/projects/<%= @projects.id%>/edit" method = "get">
<input type="submit" value="Edit Project">

</form>
